<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbDemo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
      <div class="container-fluid mx-3 d-flex align-items-center">
        <%= link_to root_path, class: 'navbar-brand navbar-dark d-flex align-items-center' do %>
          <i class="fa-solid fa-house-flag" style="color: #e68619; margin-right: 8px;"></i>
          <span class="fs-3 fw-bold mb-0 text-dark">RetroBnB</span>
        <% end %>

        <div class="navbar-right">
          <% if user_signed_in? %>
            <%= link_to 'Profile', user_path(current_user), class: 'btn btn-dark rounded-5' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
